/build
/.vscode
/third_party/opencv/bin/opencv_world4100d.pdb
/third_party/opencv/bin/opencv_world4100d.dll
/.cache
/参考项目/MutiCamApp第一版，只能打开相机
/参考项目/MutiCamApp_python原版/__pycache__
/参考项目/MutiCamApp_python原版/Development/__pycache__
/参考项目/MutiCamApp_python原版/Tools/__pycache__
/参考项目/AxisControlSystem
/参考项目/serial_test